body {
    font-family: "Microsoft Yahei",'Hiragino Sans GB',"Simsun","Arial";
    color: #969696;
    line-height: 1;
    background: #fff;
    word-break: break-all;
}

div, font, ul, li, a, table, tbody, tr, td, img, span{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    list-style: none;
}

.shopping_title {
    line-height: 36px;
    height: 36px;
    margin-top: 10px;
}

.shopping_title li {
    float: left;
    text-align: center;
}

.shopping_title .f1 {
    text-align: left;
    width: 202px;
}

.shopping_title .f2 {
    text-align: left;
    width: 280px;
}

.shopping_title .f3, .shopping_list .row3 {
    width: 130px;
}

.shopping_title .f4, .shopping_list .row4 {
    width: 130px;
}

.shopping_title .f5, .shopping_list .row5 {
    width: 70px;
}

a.check_on, a.check_on:hover {
    border-color: #ff2832;
}

a.checknow {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #bcbcbc;
    background-color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    margin: 0 10px 0 0;
    vertical-align: text-bottom;
}

a:link, a:visited {
    text-decoration: none;
    color: #323232;
}

.shopping_list {
    width: 958px;
    border: 1px solid #ebebeb;
    background-color: #fafafa;
}

.shopping_list .row1 {
    padding: 0 0 0 10px;
    width: 42px;
    vertical-align: middle;
    border-bottom: 0;
}

.shopping_list .row3 {
    width: 130px;
}

.shopping_list .row4 {
    color: #323232;
}

.shopping_title .f4, .shopping_list .row4 {
    width: 130px;
}

.shopping_title .f5, .shopping_list .row5 {
    width: 70px;
}

.shopping_list td .red {
    color: #ff2832;
}

.shopping_list .amount {
    /*border: 1px solid #dcdcdc;*/
    height: 28px;
    width: 94px;
    line-height: 28px;
    font-size: 14px;
    margin: 5px auto;
    overflow: hidden;
}

.shopping_list td span {
    display: block;
}

.shopping_list td {
    position: relative;
    line-height: 22px;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
}

.shopping_list .amount a {
    display: block;
    float: left;
    height: 28px;
    width: 28px;
    background-color: #f4f4f4;
}

.shopping_list .amount input {
    width: 36px;
    height: 28px;
    line-height: 28px\9;
    float: left;
    padding: 0;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-width: 0 1px;
    background-color: #fff;
    font-weight: bold;
}

input[type="text" i] {
    padding: 1px 0px;
}

.shopping_list .row_img {
    padding: 20px 20px 20px 0;
    width: 80px;
    border-bottom: 0;
    position: relative;
    z-index: 9;
    font-size: 0;
    line-height: 0;
}

.shopping_list .row_name {
    width: 330px;
    line-height: 18px;
    text-align: left;
    position: relative;
}

.shopping_list .row_img .img_big {
    display: none;
    padding: 9px;
    position: absolute;
    z-index: 100;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-color: #fff;
    left: 100px;
    top: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: #323232;
}

.shopping_total .shopping_total_right {
    float: right;
    margin: 18px 0 0;
    width: 320px;
    position: relative;
}

.shopping_total {
    width: 960px;
    height: 72px;
    z-index: 10;
    position: relative;
}

.shopping_total .total_btn {
    float: right;
    display: block;
    width: 116px;
    height: 38px;
    font: bold 18px/38px "Microsoft Yahei";
    color: #fff;
    background-color: #ff2832;
    border-radius: 2px;
    text-align: center;
    margin-top: 4px;
}

.shopping_total .subtotal {
    padding-right: 30px;
    line-height: 24px;
    float: right;
}

.shopping_total .subtotal .cartsum {
    width: 114px;
    text-align: right;
    padding: 0 8px 0 0;
}

.shopping_total .subtotal .price {
    color: #ff2832;
}

.shopping_total .shopping_total_left {
    float: left;
    line-height: 58px;
    width: 430px;
    position: relative;
}

.shopping_total .shopping_total_left a.checknow {
    margin: 0 6px 0 0;
}

.shopping_total .shopping_total_left a {
    margin-left: 28px;
}

.shopping_total .shopping_total_left span {
    margin-left: 80px;
}

#goHome {
    color: #337ab7;
    float: right;
}
