html {
    height: auto;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: white;
}

body {
    background-color: #eee;
}

table{
    width: 100%;
}

td {
    padding-right: 3%;
    padding-bottom: 4px;
    padding-left: 3%;
    padding-top: 4px;
}